<div class="container">

  <form [formGroup]="editGroundForm" id="contact" action="" method="post">
    <h3 class="text-center">Sửa thông tin mặt bằng</h3>

    <fieldset>
      <button style="width: 30%; height: 40px" >Mã mặt bằng(<span style="color: red">*</span>)</button>
      <input  style="width: 70%; height: 40px" type="text" tabindex="1" required autofocus formControlName="codeGround">
      <p class=" text-danger" role="alert" *ngIf="editGroundForm.get('codeGround').hasError('required')
       && editGroundForm.get('codeGround').touched">Mã mặt bằng không được để trống !!!
      </p>
      <p class=" text-danger" role="alert" *ngIf="editGroundForm.get('codeGround').hasError('pattern')
       && editGroundForm.get('codeGround').touched">Mã mặt bằng phải đúng định dạng:MBxxx !!
      </p>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px" >Trạng thái</button>
      <select style="width: 70%; height: 40px" type="text" tabindex="2" required autofocus formControlName="statusGround">
        <option  value="">Chọn</option>
        <option  value="Chưa bàn giao">Chưa bàn giao</option>
        <option value="Đang vào ở">Đang vào ở</option>
        <option value="Đang sửa chữa">Đang sửa chữa</option>
      </select>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px" >Diện tích(<span style="color: red">*</span>)</button>
      <input  style="width: 70%; height: 40px" type="text" tabindex="3" required autofocus formControlName="area">
      <p class=" text-danger" role="alert" *ngIf="editGroundForm.get('area').hasError('required')
       && editGroundForm.get('area').touched">Diện tích không được để trống và phải đúng định dạng !!!
      </p>
      <p class=" text-danger" role="alert" *ngIf="editGroundForm.get('area').hasError('maxlength')
       && editGroundForm.get('area').touched">Diện tích tối đa 25 ký tự !!
      </p>
      <p class=" text-danger" role="alert" *ngIf="editGroundForm.get('area').hasError('pattern')
       && editGroundForm.get('area').touched">Diện tích phải đúng định dạng !!
      </p>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px">Tên tầng</button>
      <select  style="width: 70%; height: 40px" type="text" tabindex="4" required autofocus formControlName="floorId">
        <option value="">Chọn</option>
        <option *ngFor="let floor of floors" [value]="floor.id">{{floor.nameFloor}}</option>
      </select>
      <p class=" text-danger" role="alert" *ngIf="editGroundForm.get('floorId').hasError('required')
       && editGroundForm.get('floorId').touched">Tên tầng không được để trống !!!
      </p>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px">Loại mặt bằng</button>
      <select style="width: 70%; height: 40px" type="text" tabindex="5" required autofocus formControlName="typeGroundId">
        <option value="">Chọn</option>
        <option *ngFor="let typeGround of typeGrounds" [value]="typeGround.id">{{typeGround.nameTypeGround}}</option>
      </select>
      <p class=" text-danger" role="alert" *ngIf="editGroundForm.get('typeGroundId').hasError('required')
       && editGroundForm.get('typeGroundId').touched">Loại mặt bằng không được để trống !!!
      </p>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px">Chú thích</button>
      <textarea rows="5" type="text"  tabindex="6" formControlName="note"></textarea>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px" >Giá tiền(<span style="color: red">*</span>)</button>
      <input style="width: 70%; height: 40px" type="text" tabindex="7" required autofocus formControlName="price">
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px" >Phí quản lí(<span style="color: red">*</span>)</button>
      <input style="width: 70%; height: 40px" type="text" tabindex="8" required autofocus formControlName="priceManager">
    </fieldset>

  </form>
  <label class="row " style="margin-left: 80%;margin-top: 5%">
    <button  style="margin-right: 15%" class="btn btn-success mt-3" [disabled]="editGroundForm.invalid" (click)="onEditGround()">
      Lưu
    </button>
    <button class="btn btn-danger mt-3" (click)="clearFilters()">Hủy</button>
  </label>


</div>
