<h3 class="text-center" style="color: red">Chỉnh sửa hợp đồng</h3>

<form class="w-75 mx-auto mt-3 col-md-12 offset-md-4" [formGroup]="formEditContract">
  <input type="text" hidden class="form-control" formControlName="id" [value]=contractId>

  <fieldset>
    <div class="row">
      <div class="form-group col-md-4">
        <p style="font-weight: bold">Mặt bằng(<span style="color: red">*</span>)</p>
        <select class="form-control" formControlName="groundId" style="height: 35px; width: 215px;">
          <option  *ngFor="let ground of grounds" [value]="ground.id">{{ground.codeGround}}</option>
        </select>
        <p
          *ngIf="formEditContract.controls.groundId.errors?.required && formEditContract.controls.groundId.touched"
          class="text-danger">Vui lòng chọn mặt bằng</p>
      </div>


      <div class="form-group col-md-4">
        <p style="font-weight: bold">Họ Và Tên Khách Hàng(<span style="color: red">*</span>)</p>
        <select  class="form-control"   formControlName="customerId" style="height: 35px; width: 215px;">
          <option  *ngFor="let customer of customers"  [value]="customer.id">{{customer.name}}</option>
        </select>
        <p
          *ngIf="formEditContract.controls.customerId.errors?.required && formEditContract.controls.customerId.touched"
          class="text-danger">Vui lòng chọn khách hàng</p>
      </div>

      <div class="form-group col-md-4">
        <p style="font-weight: bold">Họ Và Tên Nhân Viên(<span style="color: red">*</span>)</p>
        <select  class="form-control"   formControlName="employeeId" style="height: 35px; width: 215px;">
          <option  *ngFor="let employee of employees"  [value]="employee.id">{{employee.name}}</option>
        </select>
        <p
          *ngIf="formEditContract.controls.employeeId.errors?.required && formEditContract.controls.employeeId.touched"
          class="text-danger">Vui lòng chọn nhân viên</p>
      </div>


      <!--      <div class="form-group col-md-4">-->
      <!--        <p>Số CMND Khách Hàng</p>-->
      <!--        <input type="text" class="form-control" formControlName="idCardCustomer">-->
      <!--        <p-->
      <!--          *ngIf="formAddNewContract.controls.idCardCustomer.errors?.required && formAddNewContract.controls.idCardCustomer.touched"-->
      <!--          class="text-danger">Vui lòng nhập số CMND khách hàng</p>-->
      <!--        <p-->
      <!--          *ngIf="formAddNewContract.controls.idCardCustomer.errors?.pattern && formAddNewContract.controls.idCardCustomer.touched"-->
      <!--          class="text-danger">Số CMND phải có 9 hoặc 12 số</p>-->
      <!--      </div>-->
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="form-group col-md-4">
        <p style="font-weight: bold">Kì Hạn</p>
        <input type="text" class="form-control" formControlName="term" disabled [(ngModel)]="termCalculate">
      </div>

      <div class="form-group col-md-4">
        <p style="font-weight: bold">Ngày bắt đầu thuê</p>
        <input class="form-control" formControlName="startRentDay" [(ngModel)]="startDayCheck"
               placeholder="Choose a date"
               matInput
               [matDatepicker]="picker1" (dateChange)="checkValidateTimeInput(startDayCheck,endDayCheck)">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
        <p
          *ngIf="(formEditContract.controls.startRentDay.errors?.required && formEditContract.controls.startRentDay.touched)"
          class="text-danger">Vui lòng chọn ngày bắt đầu thuê
        </p>
        <p
          *ngIf="(formEditContract.controls.startRentDay.errors?.required && formEditContract.controls.endRentDay.touched)"
          class="text-danger">Vui lòng chọn ngày bắt đầu thuê
        </p>
      </div>

      <div class="form-group col-md-4">
        <p style="font-weight: bold">Ngày kết thúc thuê</p>
        <input class="form-control" formControlName="endRentDay"
               [(ngModel)]="endDayCheck" placeholder="Choose a date"
               matInput
               [matDatepicker]="picker2" (dateChange)="checkValidateTimeInput(startDayCheck,endDayCheck)">

        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker>
        <p
          *ngIf="formEditContract.controls.endRentDay.errors?.required && formEditContract.controls.endRentDay.touched"
          class="text-danger">Vui lòng chọn ngày kết thúc thuê
        </p>
        <p *ngIf="messageTimeValidate" class="text-danger">{{messageTimeValidate}}</p>
      </div>


    </div>
  </fieldset>


  <fieldset>
    <div class="row">
      <div class="form-group col-md-6">
        <p style="font-weight: bold">Giá Tiền Mỗi Tháng(<span style="color: red">*</span>)</p>
        <input type="number" class="form-control" formControlName="price" [(ngModel)]="priceCalculate"
               (keyup)="checkValidateTimeInput(startDayCheck,endDayCheck)">
        <p
          *ngIf="formEditContract.controls.price.errors?.required&&formEditContract.controls.price.touched"
          class="text-danger">Vui lòng nhập giá tiền để tính được tổng tiền</p>
        <p
          *ngIf="formEditContract.controls.price.errors?.required&&formEditContract.controls.endRentDay.touched"
          class="text-danger">Vui lòng nhập giá tiền để tính được tổng tiền</p>
        <p
          *ngIf="formEditContract.controls.price.errors?.pattern && formEditContract.controls.price.touched"
          class="text-danger">Phải là số dương</p>
      </div>

      <div class="form-group col-md-6">
        <p style="font-weight: bold">Tổng Tiền</p>
        <input type="text" class="form-control" formControlName="total" disabled [(ngModel)]="totalCalculate">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="form-group col-md-6">
        <p style="font-weight: bold">Tiền cọc</p>
        <input type="text" class="form-control" formControlName="deposits" >
      </div>
      <div class="form-group col-md-6">
        <p style="font-weight: bold">Mã số thuế(<span style="color: red">*</span>)</p>
        <input type="text" class="form-control" formControlName="taxCode" >
        <p
          *ngIf="formEditContract.controls.taxCode.errors?.required && formEditContract.controls.taxCode.touched"
          class="text-danger">Vui lòng nhập mã số thuế</p>
      </div>
      <div class="form-group col-md-6">
        <p style="font-weight: bold">Hình ảnh hợp đồng</p>
        <input type="text" class="form-control" formControlName="urlImage" >
      </div>
    </div>
  </fieldset>
  <div class="form-group">
    <p style="font-weight: bold">Nội dung hợp đồng(<span style="color: red">*</span>)</p>
    <textarea rows="5" type="text" class="form-control" formControlName="content"></textarea>
    <p
      *ngIf="formEditContract.controls.content.errors?.required && formEditContract.controls.content.touched"
      class="text-danger">Vui lòng nhập nội dung</p>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" formControlName="statusContract" hidden [(ngModel)]="statusCalculate">
  </div>

  <div class="form-group">
    <!--    <p>Hợp đồng đã được kí </p>-->
    <!--    <input type="checkbox"  class="form-control" formControlName="unified"  >-->

    <mat-checkbox class="form-control" formControlName="unified" value="{{false}}" style="font-weight: bold">Hai bên đã thống nhất với hợp đồng
    </mat-checkbox>
  </div>

</form>

<fieldset>
  <div class="row " style="margin-left: 43%">

    <div class="form-group d-flex justify-content-center mr-5">
      <button class="btn btn-info mt-3" (click)="clearFilters()">Làm lại</button>
    </div>
    <div class="form-group d-flex justify-content-center mr-5 ">
      <button [disabled]="formEditContract.invalid" class="btn btn-success mt-3" (click)="editContract()">Lưu
      </button>

    </div>
    <div class="form-group d-flex justify-content-center " style="align-content: center">
      <button class="btn btn-outline-dark mt-3" routerLink="/contracts">Quay về
      </button>
    </div>
  </div>

</fieldset>




