
<div style="margin-left: 99%;margin-top: -2%;" mat-dialog-close><i class="fa fa-window-close text-danger fa-2x" aria-hidden="true" title="Thoát"></i>
</div>
<h2 class="text-center">Chi tiết thông tin mặt bằng</h2>

<form [formGroup]="viewGroundForm" class="col-md-12 offset-md-4">
  <fieldset>
    <legend>Thêm mới thông tin mặt bằng</legend>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-3">Mã mặt bằng:</span>
        <div>
          <input type="text" class="form-control col-md-9" value="1" formControlName="codeGround" disabled>
        </div>
      </div>

      <div class="col-md-12">
        <span class="col-md-3">Trạng thái:</span>
        <input type="text" class="form-control col-md-9" formControlName="statusGround" disabled>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-3">Diện tích:</span>
        <div>
          <input type="text" class="form-control col-md-9" formControlName="area" disabled>
        </div>
      </div>
      <div class="col-md-12">
        <span class="col-md-3">Tầng:</span>
        <input class="form-control col-md-9" value="{{floor.nameFloor}}" disabled>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-3">Loại mặt bằng:</span>
        <input class="form-control col-md-9" value="{{typeGround.nameTypeGround}}" style="margin-top: -5px" disabled>

      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-3">Chú thích:</p>
        <textarea rows="5" type="text" class="form-control col-md-9" formControlName="note"
                  style="margin-top: -60px;margin-left: 25%" disabled></textarea>
      </div>
    </label>
  </fieldset>

  <fieldset>
    <legend>Giá cho thuê/bán</legend>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-3">Giá tiền:</span>
        <div>
          <input type="text" class="form-control col-md-9" formControlName="price" style="margin-top: -5px" disabled>
        </div>
      </div>
    </label>

    <label class="row">
      <div class="col-md-12">
        <p class="col-md-3" style="float: left">Ngày bắt đầu tính:</p>
        <div class="col-md-9" >

          <ng-container *ngFor="let contract of contracts" >
            <input style="text-align: center;margin-top: -10px;margin-left: 30%" type="text" class="form-control col-md-12" disabled
                   *ngIf="contract.ground.id==id" [value]=contract.startRentDay>
<!--            <input style="text-align: center;margin-top: -10px;position: absolute;margin-left: 30%" type="text" class="form-control col-md-12" disabled-->
<!--                   *ngIf="contract.ground.id!=id" value="Chưa làm hợp đồng">-->
          </ng-container>
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-3" style="float: left">Ngày kết thúc tính:</p>
        <div  class="col-md-9">
          <ng-container *ngFor="let contract of contracts"   >
            <input style="text-align: center;margin-top: -10px;margin-left: 30%" type="text" class="form-control col-md-12" disabled
                   *ngIf="contract.ground.id==id" [value]=contract.endRentDay>
<!--            <input style="text-align: center;margin-top: -10px;position: absolute;margin-left: 30%" type="text" class="form-control col-md-12" disabled-->
<!--                   *ngIf="contract.ground.id!=id" value="Chưa làm hợp đồng">-->
          </ng-container>
        </div>

      </div>
    </label>
  </fieldset>
</form>



