<h2 class="text-center">Chi tiết thông tin tòa nhà</h2>

<form [formGroup]="viewGroundForm" class="col-md-12 offset-md-4">
  <fieldset>
    <legend>Thêm mới thông tin mặt bằng</legend>
    <label class="row">
      <div class="col-md-6">
        <span class="col-md-4">Mã mặt bằng:</span>
        <div>
          <input type="text" class="form-control col-md-8" value="1" formControlName="codeGround" disabled>
        </div>
      </div>

      <div class="col-md-6">
        <span class="col-md-3">Trạng thái:</span>
        <input type="text" class="form-control col-md-9" formControlName="statusGround" disabled>
      </div>
    </label>
    <label class="row">
      <div class="col-md-6">
        <span class="col-md-4">Diện tích:</span>
        <div>
          <input type="text" class="form-control col-md-8" formControlName="area" disabled>
        </div>
      </div>
      <div class="col-md-6">
        <span class="col-md-3">Tầng:</span>
        <input type="text" class="form-control col-md-9" value="{{floor.nameFloor}}" disabled>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-2">Loại mặt bằng:</span>
        <div>
          <input type="text" class="form-control col-md-10" value="{{typeGround.nameTypeGround}}" style="margin-top: -5px" disabled>
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-2">Chú thích:</p>
        <textarea rows="5" type="text" class="form-control col-md-10" formControlName="note"
                  style="margin-top: -60px" disabled></textarea>
      </div>
    </label>
  </fieldset>

  <fieldset>
    <legend>Giá cho thuê/bán</legend>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-2">Giá tiền:</span>
        <div>
          <input type="text" class="form-control col-md-10" formControlName="price" style="margin-top: -5px" disabled>
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-2" style="float: left">Ngày bắt đầu tính:</p>
        <input type="text" class="form-control col-md-10" formControlName="beginDay" style="margin-top: -10px" disabled>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-2"style="float: left">Ngày kết thúc tính:</p>
        <input type="text" class="form-control col-md-10" formControlName="endDay" style="margin-top: -10px" disabled>
      </div>
    </label>

  </fieldset>
</form>

<fieldset>
  <label class="row " style="margin-left: 75%">
    <div class="form-group d-flex justify-content-center " style="align-content: center">
      <button class="btn btn-outline-dark mt-3" mat-dialog-close>Quay về danh sách mặt bằng
      </button>
    </div>
  </label>
</fieldset>

