<div class="container">

  <form [formGroup]="viewGroundForm" id="contact" action="" method="post">
    <h3 class="text-center">Xem thông tin mặt bằng</h3>

    <fieldset>
      <input placeholder="Mã mặt bằng (*) " type="text" tabindex="1" required autofocus formControlName="codeGround" disabled>

    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px" >Trạng thái</button>
      <input style="width: 70%; height: 40px" type="text" tabindex="2" required autofocus formControlName="statusGround" disabled>
    </fieldset>
    <fieldset>
      <input placeholder="Diện tích (*) " type="text" tabindex="3" required autofocus formControlName="area" disabled>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px">Tên tầng</button>
      <input  style="width: 70%; height: 40px" type="text" tabindex="4" required autofocus formControlName="floorId" disabled>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px">Loại mặt bằng</button>
      <input style="width: 70%; height: 40px" type="text" tabindex="5" required autofocus formControlName="typeGroundId" disabled>
    </fieldset>
    <fieldset>
      <button style="width: 30%; height: 40px">Chú thích</button>
      <textarea rows="5" type="text"  tabindex="6" formControlName="note" disabled></textarea>
    </fieldset>
    <fieldset>
      <input placeholder="Giá tiền (*) " type="text" tabindex="7" required autofocus formControlName="price" disabled>
    </fieldset>
    <fieldset>
      <input placeholder="Phí quản lí (*) " type="text" tabindex="8" required autofocus formControlName="priceManager" disabled>
    </fieldset>

  </form>

</div>
