<div class="col-md-5 mt-5">
  <div class="input-group">
    <input type="text" class="form-control search-input" placeholder="Tìm kiếm thông tin " [(ngModel)]="searchText">
    <button type="button" class="btn btn-secondary search-button"><i
      class="fa fa-search text-danger"></i></button>
  </div>

</div>

<h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH TRANG THIẾT BỊ</h3>
<div class="dropdown open">
  <button class="btn btn-secondary|primary|success|info|warning|danger dropdown-toggle" type="button"
          id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
    Loại
  </button>
  <div class="dropdown-menu" aria-labelledby="triggerId">
    <a class="dropdown-item" id="type1" (click)="searchType('type1')">Bóng đèn</a>
    <a class="dropdown-item" id="type2" (click)="searchType('type2')">Điều hoà</a>
    <a class="dropdown-item" id="type3" (click)="searchType('type3')">Quạt</a>
    <a class="dropdown-item" id="type4" (click)="searchType('type4')">Router Wifi</a>
  </div>
</div>
<form action="" [formGroup]="formAddNewEquipment" >
  <table class="table bg-light text-center">
    <thead>
    <tr class="text-muted">
      <th>STT</th>
      <th style="width: 140px">Loại</th>
      <th>Tên thiết bị</th>
      <th>Số lượng</th>
      <th>Trạng thái</th>
      <th>Số lượng hỏng</th>
      <th>Ghi chú</th>
      <th>Mã mặt bằng</th>
      <th colspan="2">Tác vụ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i=index,let equipment of equipmentModel | filter:searchText | paginate:{id:'listing_pagination',
                                                                            itemsPerPage:5,
                                                                            currentPage:page
                                                                           }; ">
      <td>{{(i+1)+(page-1)*5}}</td>
      <td *ngIf="!checkEdit ||  equipment.id!==flag">
        {{equipment.type}}
      </td>
      <td *ngIf="checkEdit && equipment.id===flag">
        <!--            <input type="text" class="form-control" formControlName="type" value="{{equipment.type}}">-->
        <select class="form-control" style="width: 120px" formControlName="type">
          <option value="Bóng đèn">Bóng đèn</option>
          <option value="Điều hoà">Điều hoà</option>
          <option value="Quạt">Quạt</option>
          <option value="Router Wifi">Router Wifi</option>
        </select>
        <p class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('type').invalid && formAddNewEquipment.get('type').touched">
          Loại không được để trống!
        </p>
      </td>
      <td *ngIf="!checkEdit ||  equipment.id!==flag">
        {{equipment.deviceName}}
      </td>
      <td *ngIf="checkEdit && equipment.id===flag">
        <input type="text" class="form-control" formControlName="deviceName" value="{{equipment.deviceName}}">
        <p class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('deviceName').invalid && formAddNewEquipment.get('deviceName').touched">
          Loại không được để trống!
        </p>
      </td>
      <td *ngIf="!checkEdit || equipment.id!==flag ">
        {{equipment.amount}}
      </td>
      <td *ngIf="checkEdit && equipment.id===flag">
        <input type="text" class="form-control" formControlName="amount" value="{{equipment.amount}}">
      </td>
      <td *ngIf="!checkEdit || equipment.id!==flag">
        {{equipment.status}}
      </td>
      <td *ngIf="checkEdit && equipment.id===flag">
        <select class="form-control" style="width: 100px" formControlName="status" value="{{equipment.status}}">
          <option value="Mới">Mới</option>
          <option value="Hỏng">Hỏng</option>
        </select>
      </td>
      <td *ngIf="!checkEdit || equipment.id!==flag">
        {{equipment.amountOfBroken}}
      </td>
      <td *ngIf="checkEdit && equipment.id===flag">
        <input type="text" class="form-control" formControlName="amountOfBroken" value="{{equipment.amountOfBroken}}">
      </td>
      <td *ngIf="!checkEdit || equipment.id!==flag">
        {{equipment.note}}
      </td>
      <td *ngIf="checkEdit && equipment.id===flag">
        <input type="text" class="form-control" formControlName="note" value="{{equipment.note}}">
      </td>
      <td *ngIf="!checkEdit || equipment.id!==flag">
        {{equipment.codeGround}}
      </td>
      <td *ngIf="checkEdit && equipment.id===flag">
        <select class="form-control" formControlName="codeGround" style="width:120px">
          <option  *ngFor="let ground of grounds" [value]="ground.codeGround">{{ground.codeGround}}</option>
        </select>
        <!--            <select class="form-control" style="width:120px" formControlName="codeGround">-->
        <!--              <option value="MB001">MB001</option>-->
        <!--              <option value="MB002">MB002</option>-->
        <!--              <option value="MB003">MB003</option>-->
        <!--              <option value="MB004">MB004</option>-->
        <!--            </select>-->
        <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('codeGround').invalid && formAddNewEquipment.get('codeGround').touched">
            Mã mặt bằng không được để trống!
            </span>
      </td>
      <td *ngIf="!checkEdit || equipment.id!==flag">
        <button class="btn btn-warning" type="button" (click)="checkEditEquipment(equipment.id)" style="margin-right: 10px">Sửa</button>
        <button class="btn btn-danger" type="button" (click)="openDialogDelete(equipment.id)">Xoá</button>
      </td>
      <td *ngIf="checkEdit && equipment.id===flag">
        <button class="btn btn-primary" type="button" (click)="editEquipment()" style="margin-right: 10px">Lưu</button>
        <button class="btn btn-danger" type="button" (click)="close()">Thoát</button>
      </td>
    </tr>

    <!--thêm mới-->
    <tr *ngIf="checkAdd">
      <td></td>
      <td>
        <!--            <input type="text" class="form-control" formControlName="type">-->
        <select class="form-control" style="width: 120px" formControlName="type">
          <option value="Bóng đèn">Bóng đèn</option>
          <option value="Điều hoà">Điều hoà</option>
          <option value="Quạt">Quạt</option>
          <option value="Router Wifi">Router Wifi</option>
        </select>
        <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('type').invalid && formAddNewEquipment.get('type').touched">
            Loại không được để trống!
          </span>
      </td>
      <td>
        <input type="text" class="form-control" formControlName="deviceName">
        <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('deviceName').invalid && formAddNewEquipment.get('deviceName').touched">
            Tên thiết bị không được để trống!
          </span>
      </td>
      <td>
        <input type="text" class="form-control" formControlName="amount">
        <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('amount').invalid && formAddNewEquipment.get('amount').touched">
            Số lượng không được để trống!
          </span>
      </td>
      <td>
        <select class="form-control" style="width: 100px" formControlName="status">
          <option value="Mới">Mới</option>
          <option value="Hỏng">Hỏng</option>
        </select>
        <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('status').invalid && formAddNewEquipment.get('status').touched">
            Trạng thái không được để trống!
          </span>
      </td>
      <td>
        <input type="text" class="form-control" formControlName="amountOfBroken">
        <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('amountOfBroken').invalid && formAddNewEquipment.get('amountOfBroken').touched">
            Số lượng hỏng không được để trống!
          </span>
      </td>
      <td>
        <input type="text" class="form-control" formControlName="note">
        <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('note').invalid && formAddNewEquipment.get('note').touched">
            Ghi chú không được để trống!
          </span>
      </td>
      <td>
        <!--            <select class="form-control" style="width:120px" formControlName="codeGround">-->
        <!--              <option value="MB001">MB001</option>-->
        <!--              <option value="MB002">MB002</option>-->
        <!--              <option value="MB003">MB003</option>-->
        <!--              <option value="MB004">MB004</option>-->
        <!--            </select>-->
        <select class="form-control" formControlName="codeGround" style="width:120px" >
          <option  *ngFor="let ground of grounds" [value]="ground.codeGround">{{ground.codeGround}}</option>
        </select>
        <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('codeGround').invalid && formAddNewEquipment.get('codeGround').touched">
            Mã mặt bằng không được để trống!
          </span>
      </td>
      <td>
        <button class="btn btn-primary" type="button" (click)="addNewEquipment()" style="margin-right: 10px">Thêm</button>
        <button class="btn btn-danger" type="button" (click)="close()">Xoá</button>
      </td>
    </tbody>
  </table>
  <button style="margin-left: 66em;" class="btn btn-info px-4 py-2" (click)="checkaddNewEquipment()">Thêm mới</button>

</form>
<!--    pagination-->



<pagination-controls class="pagination justify-content-center" maxSize="5" directionLinks="true" (pageChange)="page = $event" previousLabel="Trang trước"
                     nextLabel="Trang sau" autoHide="true" responsive="true">

</pagination-controls>






<!--phan cach -->

<!--<div class="" style="margin: 0px;">-->
<!--  <div class="table-wrapper">-->
<!--    <div class="table-title">-->
<!--      <div class="row">-->
<!--        <div class="col-sm-6">-->
<!--            <h2>Danh sách trang thiết bị</h2>-->
<!--          <div class="dropdown open">-->
<!--            <button class="btn btn-secondary|primary|success|info|warning|danger dropdown-toggle" type="button"-->
<!--                    id="triggerId" data-toggle="dropdown" aria-haspopup="true"-->
<!--                    aria-expanded="false">-->
<!--              Loại-->
<!--            </button>-->
<!--            <div class="dropdown-menu" aria-labelledby="triggerId">-->
<!--              <a class="dropdown-item" id="type1" (click)="searchType('type1')">Bóng đèn</a>-->
<!--              <a class="dropdown-item" id="type2" (click)="searchType('type2')">Điều hoà</a>-->
<!--              <a class="dropdown-item" id="type3" (click)="searchType('type3')">Quạt</a>-->
<!--              <a class="dropdown-item" id="type4" (click)="searchType('type4')">Router Wifi</a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="col-sm-6">-->
<!--          <div class="search-hero d-flex" style="margin-right: auto">-->
<!--            <input class="form-control mt-2" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"-->
<!--                   placeholder="Nhập từ khoá tìm kiếm">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <form [formGroup]="formAddNewEquipment">-->
<!--      <table class="table table-bordered table-hover">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>STT</th>-->
<!--          <th style="width: 140px">Loại</th>-->
<!--          <th>Tên thiết bị</th>-->
<!--          <th>Số lượng</th>-->
<!--          <th>Trạng thái</th>-->
<!--          <th>Số lượng hỏng</th>-->
<!--          <th>Ghi chú</th>-->
<!--          <th>Mã mặt bằng</th>-->
<!--          <th style="width: 200px">Tác vụ</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->

<!--        <tr *ngFor="let i=index,let equipment of equipmentModel | filter:searchText | paginate:{id:'listing_pagination',-->
<!--                                                                            itemsPerPage:5,-->
<!--                                                                            currentPage:page-->
<!--                                                                           }; ">-->
<!--          <td>{{(i+1)+(page-1)*5}}</td>-->
<!--          <td *ngIf="!checkEdit ||  equipment.id!==flag">-->
<!--            {{equipment.type}}-->
<!--          </td>-->
<!--          <td *ngIf="checkEdit && equipment.id===flag">-->
<!--&lt;!&ndash;            <input type="text" class="form-control" formControlName="type" value="{{equipment.type}}">&ndash;&gt;-->
<!--            <select class="form-control" style="width: 120px" formControlName="type">-->
<!--              <option value="Bóng đèn">Bóng đèn</option>-->
<!--              <option value="Điều hoà">Điều hoà</option>-->
<!--              <option value="Quạt">Quạt</option>-->
<!--              <option value="Router Wifi">Router Wifi</option>-->
<!--            </select>-->
<!--            <p class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('type').invalid && formAddNewEquipment.get('type').touched">-->
<!--              Loại không được để trống!-->
<!--            </p>-->
<!--          </td>-->
<!--          <td *ngIf="!checkEdit ||  equipment.id!==flag">-->
<!--            {{equipment.deviceName}}-->
<!--          </td>-->
<!--          <td *ngIf="checkEdit && equipment.id===flag">-->
<!--            <input type="text" class="form-control" formControlName="deviceName" value="{{equipment.deviceName}}">-->
<!--            <p class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('deviceName').invalid && formAddNewEquipment.get('deviceName').touched">-->
<!--              Loại không được để trống!-->
<!--            </p>-->
<!--          </td>-->
<!--          <td *ngIf="!checkEdit || equipment.id!==flag ">-->
<!--            {{equipment.amount}}-->
<!--          </td>-->
<!--          <td *ngIf="checkEdit && equipment.id===flag">-->
<!--            <input type="text" class="form-control" formControlName="amount" value="{{equipment.amount}}">-->
<!--          </td>-->
<!--          <td *ngIf="!checkEdit || equipment.id!==flag">-->
<!--            {{equipment.status}}-->
<!--          </td>-->
<!--          <td *ngIf="checkEdit && equipment.id===flag">-->
<!--            <select class="form-control" style="width: 100px" formControlName="status" value="{{equipment.status}}">-->
<!--              <option value="Mới">Mới</option>-->
<!--              <option value="Hỏng">Hỏng</option>-->
<!--            </select>-->
<!--          </td>-->
<!--          <td *ngIf="!checkEdit || equipment.id!==flag">-->
<!--            {{equipment.amountOfBroken}}-->
<!--          </td>-->
<!--          <td *ngIf="checkEdit && equipment.id===flag">-->
<!--            <input type="text" class="form-control" formControlName="amountOfBroken" value="{{equipment.amountOfBroken}}">-->
<!--          </td>-->
<!--          <td *ngIf="!checkEdit || equipment.id!==flag">-->
<!--            {{equipment.note}}-->
<!--          </td>-->
<!--          <td *ngIf="checkEdit && equipment.id===flag">-->
<!--            <input type="text" class="form-control" formControlName="note" value="{{equipment.note}}">-->
<!--          </td>-->
<!--          <td *ngIf="!checkEdit || equipment.id!==flag">-->
<!--            {{equipment.codeGround}}-->
<!--          </td>-->
<!--          <td *ngIf="checkEdit && equipment.id===flag">-->
<!--            <select class="form-control" formControlName="codeGround" style="width:120px">-->
<!--              <option  *ngFor="let ground of grounds" [value]="ground.codeGround">{{ground.codeGround}}</option>-->
<!--            </select>-->
<!--&lt;!&ndash;            <select class="form-control" style="width:120px" formControlName="codeGround">&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="MB001">MB001</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="MB002">MB002</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="MB003">MB003</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="MB004">MB004</option>&ndash;&gt;-->
<!--&lt;!&ndash;            </select>&ndash;&gt;-->
<!--            <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('codeGround').invalid && formAddNewEquipment.get('codeGround').touched">-->
<!--            Mã mặt bằng không được để trống!-->
<!--            </span>-->
<!--          </td>-->
<!--          <td *ngIf="!checkEdit || equipment.id!==flag">-->
<!--            <button class="btn btn-warning" type="button" (click)="checkEditEquipment(equipment.id)" style="margin-right: 10px">Sửa</button>-->
<!--            <button class="btn btn-danger" type="button" (click)="openDialogDelete(equipment.id)">Xoá</button>-->
<!--          </td>-->
<!--          <td *ngIf="checkEdit && equipment.id===flag">-->
<!--            <button class="btn btn-primary" type="button" (click)="editEquipment()" style="margin-right: 10px">Lưu</button>-->
<!--            <button class="btn btn-danger" type="button" (click)="close()">Thoát</button>-->
<!--          </td>-->
<!--        </tr>-->

<!--        &lt;!&ndash;thêm mới&ndash;&gt;-->
<!--        <tr *ngIf="checkAdd">-->
<!--          <td></td>-->
<!--          <td>-->
<!--&lt;!&ndash;            <input type="text" class="form-control" formControlName="type">&ndash;&gt;-->
<!--            <select class="form-control" style="width: 120px" formControlName="type">-->
<!--              <option value="Bóng đèn">Bóng đèn</option>-->
<!--              <option value="Điều hoà">Điều hoà</option>-->
<!--              <option value="Quạt">Quạt</option>-->
<!--              <option value="Router Wifi">Router Wifi</option>-->
<!--            </select>-->
<!--            <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('type').invalid && formAddNewEquipment.get('type').touched">-->
<!--            Loại không được để trống!-->
<!--          </span>-->
<!--          </td>-->
<!--          <td>-->
<!--            <input type="text" class="form-control" formControlName="deviceName">-->
<!--            <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('deviceName').invalid && formAddNewEquipment.get('deviceName').touched">-->
<!--            Tên thiết bị không được để trống!-->
<!--          </span>-->
<!--          </td>-->
<!--          <td>-->
<!--            <input type="text" class="form-control" formControlName="amount">-->
<!--            <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('amount').invalid && formAddNewEquipment.get('amount').touched">-->
<!--            Số lượng không được để trống!-->
<!--          </span>-->
<!--          </td>-->
<!--          <td>-->
<!--            <select class="form-control" style="width: 100px" formControlName="status">-->
<!--              <option value="Mới">Mới</option>-->
<!--              <option value="Hỏng">Hỏng</option>-->
<!--            </select>-->
<!--            <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('status').invalid && formAddNewEquipment.get('status').touched">-->
<!--            Trạng thái không được để trống!-->
<!--          </span>-->
<!--          </td>-->
<!--          <td>-->
<!--            <input type="text" class="form-control" formControlName="amountOfBroken">-->
<!--            <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('amountOfBroken').invalid && formAddNewEquipment.get('amountOfBroken').touched">-->
<!--            Số lượng hỏng không được để trống!-->
<!--          </span>-->
<!--          </td>-->
<!--          <td>-->
<!--            <input type="text" class="form-control" formControlName="note">-->
<!--            <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('note').invalid && formAddNewEquipment.get('note').touched">-->
<!--            Ghi chú không được để trống!-->
<!--          </span>-->
<!--          </td>-->
<!--          <td>-->
<!--&lt;!&ndash;            <select class="form-control" style="width:120px" formControlName="codeGround">&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="MB001">MB001</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="MB002">MB002</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="MB003">MB003</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="MB004">MB004</option>&ndash;&gt;-->
<!--&lt;!&ndash;            </select>&ndash;&gt;-->
<!--            <select class="form-control" formControlName="codeGround" style="width:120px" >-->
<!--              <option  *ngFor="let ground of grounds" [value]="ground.codeGround">{{ground.codeGround}}</option>-->
<!--            </select>-->
<!--            <span class="alert alert-danger" role="alert" *ngIf="formAddNewEquipment.get('codeGround').invalid && formAddNewEquipment.get('codeGround').touched">-->
<!--            Mã mặt bằng không được để trống!-->
<!--          </span>-->
<!--          </td>-->
<!--          <td>-->
<!--            <button class="btn btn-primary" type="button" (click)="addNewEquipment()" style="margin-right: 10px">Thêm</button>-->
<!--            <button class="btn btn-danger" type="button" (click)="close()">Xoá</button>-->
<!--          </td>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      <div style="float: right">-->
<!--        <button class="btn btn-primary" type="button" (click)="checkaddNewEquipment()" style="margin-right: 40px">Thêm mới thiết bị</button>-->
<!--      </div>-->
<!--    </form>-->
<!--    <div>-->
<!--      <pagination-controls id="listing_pagination"  maxSize="5" directionLinks="true" (pageChange)="page = $event" previousLabel="Trang trước"-->
<!--                            nextLabel="Trang sau" autoHide="true" responsive="true"></pagination-controls>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
