<div class="col-md-5 mt-5">
  <div class="input-group">
    <form action="" method="get">

    </form>
    <input type="text" id="searchEquipment" class="form-control search-input" placeholder="Tìm kiếm thông tin" [(ngModel)]="searchText">
    <button type="button" class="btn btn-secondary search-button" (click)="loadData(0)"><i class="fa fa-search text-danger"></i></button>
  </div>
</div>

<h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH TRANG THIẾT BỊ THEO MẶT BẰNG</h3>
<ng-container>
  <button class="btn btn-success" (click)="openDialogAddNew()">Thêm Mới</button>
</ng-container>

<div class="row">
  <div class="dropdown open col-md-2">
    <button class="btn btn-dark dropdown-toggle" type="button"
            id="triggerId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
     Mã mặt bằng
    </button>
    <div class="dropdown-menu" aria-labelledby="triggerId" style="overflow-y: scroll;height: 200px;">
      <a class="dropdown-item" *ngFor="let ground of grounds"
         (click)="searchType(ground.codeGround)">{{ground.codeGround}}</a>
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-dark" [routerLink]="['/equipments-building/']">
      Toà nhà
    </button>
  </div>
<!--  <div class="col-md-6"></div>-->
<!--  <div class="col-md-2">-->
<!--    <button class="btn btn-dark" (click)="deleteAll()">-->
<!--      <i class="fa fa-trash" aria-hidden="true" title="Xóa tất cả"></i>-->
<!--    </button>-->
<!--  </div>-->
</div>

<ng-container>
  <form action="" [formGroup]="formEditEquipment"  *ngIf="formEditEquipment">
    <table class="table bg-light text-center table-striped">
      <thead class="thead-dark">
      <tr class="text-muted">
<!--        <th>STT</th>-->
        <th style="width: 140px">Loại (<span style="color: red">*</span>)</th>
        <th>Tên thiết bị (<span style="color: red">*</span>)</th>
        <th>Số lượng (<span style="color: red">*</span>)</th>
        <th>Số lượng hỏng (<span style="color: red">*</span>)</th>
        <th>Ghi chú</th>
        <th>Mã mặt bằng (<span style="color: red">*</span>)</th>
        <th colspan="2"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let i = index;let equipment of equipmentModel">
<!--        <td>{{(i + 1) + (page - 1) * 5}}</td>-->
        <td *ngIf="!checkEdit ||  equipment.id!==flag">
          {{equipment.typeEquipment.nameType}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <select class="form-control" formControlName="typeEquipmentId" style="width:120px">
            <option *ngFor="let type of typeEquipment" [value]="type.id">{{type.nameType}}</option>
          </select>
          <p class="text-danger"
             *ngIf="formEditEquipment.get('typeEquipmentId').invalid && formEditEquipment.get('typeEquipmentId').touched">
            Loại không được để trống!
          </p>
        </td>
        <td *ngIf="!checkEdit ||  equipment.id!==flag">
          {{equipment.nameEquipment}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="nameEquipment">
          <p class="text-danger"
             *ngIf="formEditEquipment.get('nameEquipment').invalid && formEditEquipment.get('nameEquipment').touched">
            Loại không được để trống!
          </p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag ">
          {{equipment.amount}} (cái)
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input  [(ngModel)]="amountCheck" type="text" class="form-control" formControlName="amount" value="{{equipment.amount}}" (change)="checkAmount(amountCheck,amountOfBrokenCheck)">
          <p class="text-danger"
             *ngIf="formEditEquipment.get('amount').hasError('required') &&formEditEquipment.get('amount').invalid && formEditEquipment.get('amount').touched">
            Số lượng không được để trống!
          </p>
          <p class="text-danger"
             *ngIf="formEditEquipment.get('amount').hasError('pattern') &&formEditEquipment.get('amount').invalid && formEditEquipment.get('amount').touched">
            Số lượng phải là số!
          </p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.amountOfBroken}} (cái)
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input [(ngModel)]="amountOfBrokenCheck" type="number" class="form-control" formControlName="amountOfBroken" value="{{equipment.amountOfBroken}}" (change)="checkAmount(amountCheck,amountOfBrokenCheck)">
          <p *ngIf="messageValidate" class="text-danger">{{messageValidate}}</p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.note}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <input type="text" class="form-control" formControlName="note" value="{{equipment.note}}">
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          {{equipment.ground.codeGround}}
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <select class="form-control" formControlName="groundId" style="width:120px">
            <option *ngFor="let ground of grounds" [value]="ground.id">{{ground.codeGround}}</option>
          </select>
          <p class="text-danger"
             *ngIf="formEditEquipment.get('groundId').invalid && formEditEquipment.get('groundId').touched">
            Mã mặt bằng không được để trống!
          </p>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          <button class="btn btn-warning" type="button" (click)="checkEditEquipment(equipment.id)">
            <i class="material-icons" data-toggle="tooltip" title="Sửa">&#xE254;</i>
          </button>
        </td>
        <td *ngIf="!checkEdit || equipment.id!==flag">
          <button class="btn btn-danger" type="button" (click)="openDialogDelete(equipment.id)">
            <i class="material-icons" data-toggle="tooltip" title="Xóa">&#xE872;</i>
          </button>
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <button class="btn btn-primary" type="button" (click)="editEquipment()">
            <i class="material-icons" data-toggle="tooltip" title="Lưu">done</i>
          </button>
        </td>
        <td *ngIf="checkEdit && equipment.id===flag">
          <button class="btn btn-danger" type="button" (click)="close()">
            <i class="material-icons" data-toggle="tooltip" title="Hủy">&#xe950;</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </form>
</ng-container>

<ng-container *ngIf="checkAdd">
  <form action="" [formGroup]="formAddNewEquipment" *ngIf="formAddNewEquipment">
      <tbody class="border" formArrayName="equipment"
             *ngFor="let equipment of equipmentControls; let i = index;">
      <tr [formGroupName]="i">
        <td>
          <select class="form-control" formControlName="typeEquipmentId" style="width:150px">
            <option>Vui lòng chọn:</option>
            <option *ngFor="let type of typeEquipment,let i=index" [value]="type.id">{{i+1}}.{{type.nameType}}</option>
          </select>
          <p class="text-danger"
             *ngIf="equipment.get('typeEquipmentId').invalid && equipment.get('typeEquipmentId').touched">
            Loại không được để trống!
          </p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="nameEquipment" required>
          <p class="text-danger"
             *ngIf="equipment.get('nameEquipment').invalid && equipment.get('nameEquipment').touched">
            Tên thiết bị không được để trống!
          </p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="amount" required>
          <p class="text-danger"
             *ngIf="equipment.get('amount').invalid && equipment.get('amount').touched">
            Số lượng phải là số và không được để trống!
          </p>
        </td>
        <td hidden>
          <input type="number" class="form-control" formControlName="amountOfBroken" value="0" >
        </td>
        <td>
          <input type="text" class="form-control" formControlName="note">
          <p class="text-danger"
             *ngIf="equipment.get('note').invalid && equipment.get('note').touched">
            Ghi chú không được để trống!
          </p>
        </td>
        <td>
          <select class="form-control" formControlName="groundId" style="width:120px;">
            <option>Vui lòng chọn:</option>
            <option *ngFor="let ground of grounds,let i=index" [value]="ground.id">{{i+1}}.{{ground.codeGround}}</option>
          </select>
          <p class="text-danger"
             *ngIf="equipment.get('groundId').invalid && equipment.get('groundId').touched">
            Mã mặt bằng không được để trống!
          </p>
        </td>
        <td>
          <button type="button" class="btn btn-danger btn-sm" (click)="removeAddress(i)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
  </form>

</ng-container>

<button style="position: absolute;left: 88%;" class="btn btn-info" (click)="addNewEquipment()" [disabled]="formAddNewEquipment.invalid">
  <i class="fa fa-check-square-o" aria-hidden="true"></i>
</button>
<button style="position: absolute;left: 93%;" class="btn btn-success" (click)="addNewArray()">
  <i class="fa fa-plus-square" aria-hidden="true"></i>
</button>

<!--    pagination-->

<nav aria-label="Page navigation example" *ngIf="equipmentModel.length!=0 && totalPages>1">
  <ul class="pagination">
    <li class="page-item" (click)="onFirst()"><a class="page-link">Trang đầu</a></li>
    <li class="page-item" (click)="onPrevious()" [ngClass]="pageClicked==0?'disabled':''">
      <a class="page-link"><<</a>
    </li>
    <li class="page-item" *ngFor="let page of pages" (click)="loadData(page)"
        [ngClass]="pageClicked == page ? 'active' : ''">
      <a class="page-link" (click)="checkPages(page)">{{page + 1}}</a>
    </li>
    <li class="page-item" (click)="onNext()" [ngClass]="pageClicked==totalPages-1?'disabled':''">
      <a class="page-link">>></a>
    </li>
    <li class="page-item" (click)="onLast()"><a class="page-link">Trang cuối</a></li>
  </ul>
</nav>

