
<div class="container-fluid">
  <div class="row">
    <div style="margin-top: 60px" class="col-md-6">
        <label>
          Mặt bằng :
        </label>
        <label>
          <select>
            <option *ngFor="let floor of floors" id="{{floor.id}}">{{floor.nameFloor}}</option>
          </select>
        </label>
        <label>
          <select>
            <option *ngFor="let ground of grounds" id="{{ground.id}}">{{ground.codeGround}}</option>
          </select>
        </label>
      </div>
    <div style="margin-top: 60px" class="col-md-6">
      
    </div>
  </div>
</div>
abc
