<div style="margin-left: 99%;margin-top: -2%;" mat-dialog-close><i class="fa fa-window-close text-danger fa-2x"
                                                                   aria-hidden="true" title="Thoát"></i>
</div>
<h2 class="text-center">Chỉnh sửa thông tin tòa nhà</h2>
<form [formGroup]="editBuildingForm" class="col-md-12 offset-md-4">
  <fieldset>
    <legend>Thông tin chung</legend>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-3">Tên viết tắt(<span style="color: red">*</span>):</p>
        <div>
          <input type="text" class="form-control col-md-9 ng-valid" formControlName="abbreviationName">
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('abbreviationName').hasError('required')
         && editBuildingForm.get('abbreviationName').touched">Tên viết tắt không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('abbreviationName').hasError('minlength')
         && editBuildingForm.get('abbreviationName').touched">Tên viết tắt tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('abbreviationName').hasError('maxlength')
         && editBuildingForm.get('abbreviationName').touched">Tên viết tắt tối đa 25 ký tự.
        </div>
      </div>
      <div class="col-md-12">
        <p class="col-md-3">Điện thoại(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="phone">
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('phone').hasError('required')
         && editBuildingForm.get('phone').touched">Số điện thoại không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('phone').hasError('pattern')
         && editBuildingForm.get('phone').touched">Số điện thoại gồm 9 hoặc 12 số.
        </div>
      </div>
      <div class="col-md-12">
        <p class="col-md-3"> Địa chỉ(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="address">
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('address').hasError('required')
         && editBuildingForm.get('address').touched">Địa chỉ không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('address').hasError('minlength')
         && editBuildingForm.get('address').touched">Địa chỉ tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('address').hasError('maxlength')
         && editBuildingForm.get('address').touched">Địa chỉ tối đa 50 ký tự.
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-3">Tên tòa nhà(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="fullName">
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('fullName').hasError('required')
         && editBuildingForm.get('fullName').touched">Tên tòa nhà không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('fullName').hasError('minlength')
         && editBuildingForm.get('fullName').touched">Tên tòa nhà tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('fullName').hasError('maxlength')
         && editBuildingForm.get('fullName').touched">Tên tòa nhà tối đa 50 ký tự.
        </div>
      </div>
      <div class="col-md-12">
        <p class="col-md-3">Fax(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="fax">
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('fax').hasError('required')
         && editBuildingForm.get('fax').touched">Fax không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('fax').hasError('minlength')
         && editBuildingForm.get('fax').touched">Fax tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('fax').hasError('maxlength')
         && editBuildingForm.get('fax').touched">Fax tối đa 25 ký tự.
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-3">Mã số thuế(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="taxCode">
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="editBuildingForm.get('taxCode').hasError('required')
         && editBuildingForm.get('taxCode').touched">Mã số thuế không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('taxCode').hasError('pattern')
         && editBuildingForm.get('taxCode').touched">Mã số thuế phải đúng định dạng:MST-xxx.
        </div>
      </div>
      <div class="col-md-12">
        <p class="col-md-3">Email(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="email">
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('email').hasError('required')
         && editBuildingForm.get('email').touched">Email không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('email').hasError('email')
         && editBuildingForm.get('email').touched">Email phải đúng định dạng.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('email').hasError('maxlength')
         && editBuildingForm.get('email').touched">Email tối đa 25 ký tự.
        </div>
      </div>
    </label>
  </fieldset>
</form>
<form [formGroup]="editBuildingForm" class="col-md-12 offset-md-4">
  <fieldset>
    <legend>Thông tin trên báo cáo</legend>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-3">Ban quản lý(<span style="color: red">*</span>):</p>
        <div>
          <input type="text" class="form-control col-md-9 ng-valid" formControlName="management">
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('management').hasError('required')
         && editBuildingForm.get('management').touched">Ban quản lý không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('management').hasError('minlength')
         && editBuildingForm.get('management').touched">Ban quản lý tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('management').hasError('maxlength')
         && editBuildingForm.get('management').touched">Ban quản lý tối đa 50 ký tự.
        </div>
      </div>
      <div class="col-md-12">
        <p class="col-md-3">Số tài khoản(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="accountNumber">
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('accountNumber').hasError('required')
         && editBuildingForm.get('accountNumber').touched">Số tài khoản không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('accountNumber').hasError('minlength')
         && editBuildingForm.get('accountNumber').touched">Số tài khoản tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('accountNumber').hasError('maxlength')
         && editBuildingForm.get('accountNumber').touched">Số tài khoản tối đa 25 ký tự.
        </div>
      </div>
      <div class="col-md-12">
        <p class="col-md-3">Ngân hàng(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="bank">
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="editBuildingForm.get('bank').hasError('required')
         && editBuildingForm.get('bank').touched">Tên ngân hàng không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('bank').hasError('minlength')
         && editBuildingForm.get('bank').touched">Tên ngân hàng tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('bank').hasError('maxlength')
         && editBuildingForm.get('bank').touched">Tên ngân hàng tối đa 50 ký tự.
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-3">Người quản lý(<span style="color: red">*</span>):</p>
        <div>
          <input type="text" class="form-control col-md-9 ng-valid" formControlName="manager">
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('manager').hasError('required')
         && editBuildingForm.get('manager').touched">Tên người quản lý không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('manager').hasError('minlength')
         && editBuildingForm.get('manager').touched">Tên người quản lý tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('manager').hasError('maxlength')
         && editBuildingForm.get('manager').touched">Tên người quản lý tối đa 50 ký tự.
        </div>
      </div>
      <div class="col-md-12">
        <p class="col-md-3">Tên người nhận(<span style="color: red">*</span>):</p>
        <input type="text" class="form-control col-md-9 ng-valid" formControlName="recipientName">
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('recipientName').hasError('required')
         && editBuildingForm.get('recipientName').touched">Tên người nhận không được để trống.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('recipientName').hasError('minlength')
         && editBuildingForm.get('recipientName').touched">Tên người nhận tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-9" role="alert" *ngIf="editBuildingForm.get('recipientName').hasError('maxlength')
         && editBuildingForm.get('recipientName').touched">Tên người nhận tối đa 50 ký tự.
        </div>
      </div>
      <div class="col-md-12 row">
        <p class="col-md-3">Logo:</p>
        <div class="col-md-3">
          <button id="clickSelect" (click)="showPickImage()">Chọn ảnh </button>
          <input type="text" class="form-control  ng-valid" style="margin-top: 5%" *ngIf=check1 [value]=urlImage formControlName="logo">
          <div *ngIf=check2>
            <img [src]="urlImage" style="border-radius: 50%;width: 100% " alt="Logo"/>
          </div>
        </div>
      </div>
    </label>
  </fieldset>
</form>


<label class="row " style="margin-left: 85%;margin-top: 5%">
  <button style="margin-right: 15%" [disabled]="editBuildingForm.invalid" class="btn btn-primary mt-3" (click)="onEditBuilding()">
    <i class="material-icons" data-toggle="tooltip" title="Lưu">done</i>
  </button>
  <button class="btn btn-danger mt-3" (click)="clearFilters()">
    <i class="material-icons" data-toggle="tooltip" title="Hủy">&#xe950;</i>
  </button>

</label>

<div class="gallery-container" *ngIf=!check id="formSelectImage" style="text-align: center;border: black 5px double">
  <h2 style="color: red;text-align: center;margin-top:5%;margin-bottom: 10%">Nhấp vào ảnh muốn chọn</h2>
  <div class="gallery-item row" *ngFor="let image of images">
    <div><img src="{{image.url}}"  (click)="pickImage($event.target.src)" style="width: 200%"></div>
  </div>
  <button class="btn btn-danger" (click)="cancelSelectImage()">Hủy chọn Logo</button>
</div>












