<div class="row justify-content-between">
  <h1>DANH SÁCH NHÂN VIÊN</h1>
  <div class="d-flex">
    <i class="fas fa-search"></i><input type="text" class="form-control mr-2" style="width: 450px;" placeholder="Tìm kiếm thông tin khách hàng"
           [(ngModel)]="search">

  </div>
</div>


<div class="row m-3 px-3 scroll-table">

  <form action="" [formGroup]="formAddNewCustomer">


    <!--  <button class="btn btn-outline-danger" (click)="openDialogAdd()" style="font-size: 30px">Thêm mới</button>-->
    <table class="table table-bordered table-sm table-hover " style="margin-top: 40px" id="myTable">
      <thead class="thead-light">
      <tr>
        <th>STT</th>
        <th>Họ Tên</th>
        <th>Id Card</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Birthday</th>
        <th>Address</th>
        <th>Website</th>
        <th>Company</th>
        <th>Tên Mặt Bằng</th>
        <th>Đang thuê</th>
        <th colspan="2">Tác vụ</th>

      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let customer of customers |filter : search |paginate: {  itemsPerPage: 5, currentPage: page,id:'listing_pagination' } ;let i  = index">
        <td> {{customer.id}}</td>


        <td *ngIf="!checkEdit || customer.id!==flag">{{customer.name}}</td>
        <td *ngIf="checkEdit  && customer.id===flag ">
          <input type="text" class="form-control" formControlName="name" value="{{customer.name}}">
        </td>


        <td *ngIf="!checkEdit || customer.id!==flag">{{customer.idCard}}</td>
        <td *ngIf="checkEdit && customer.id===flag ">
          <input type="text"
                 class="form-control"
                 formControlName="idCard"
                 value="{{customer.idCard}}">
        </td>


        <td *ngIf="!checkEdit || customer.id!==flag">{{customer.email}}</td>
        <td *ngIf="checkEdit && customer.id===flag ">
          <input type="text"
                 class="form-control"
                 formControlName="email"
                 value="{{customer.email}}">
        </td>


        <td *ngIf="!checkEdit || customer.id!==flag">{{customer.phone}}</td>
        <td *ngIf="checkEdit && customer.id===flag ">
          <input type="text"
                 class="form-control"
                 formControlName="phone"
                 value="{{customer.phone}}">
        </td>


        <td *ngIf="!checkEdit || customer.id!==flag">{{customer.birthday | date:'dd/MM/yyyy'}}</td>
        <td *ngIf="checkEdit && customer.id===flag">
          <label>
            <input class="form-control" formControlName="birthday" placeholder="Choose a date" matInput
                   [matDatepicker]="picker1" value="{{customer.birthday}}">
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
        </td>


        <td *ngIf="!checkEdit || customer.id!==flag">{{customer.address}}</td>
        <td *ngIf="checkEdit && customer.id===flag">
          <input type="text"
                 class="form-control"
                 formControlName="address"
                 value="{{customer.address}}">
        </td>

        <td *ngIf="!checkEdit || customer.id!==flag">{{customer.website}}</td>
        <td *ngIf="checkEdit && customer.id===flag">
          <input type="text" class="form-control"
                 formControlName="website"
                 value="{{customer.website}}">
        </td>

        <td *ngIf="!checkEdit || customer.id!==flag">{{customer.nameCompany}}</td>
        <td *ngIf="checkEdit && customer.id===flag">
          <input type="text" class="form-control"
                 formControlName="nameCompany"
                 value="{{customer.nameCompany}}">
        </td>


        <td>{{customer.nameGround}}</td>
        <td><input type="checkbox" [checked]="customer.rentStatus" disabled></td>

        <td>
          <button *ngIf="!checkEdit|| customer.id!==flag" class="btn btn-success ml-3"
                  (click)="checkEditCustomer(customer.id)">Edit
          </button>
          <button *ngIf="checkEdit && customer.id===flag" class="btn btn-warning ml-3" type="button"
                  (click)="editCustomer()">Save
          </button>

        </td>

        <td>
          <button *ngIf="!checkEdit|| customer.id!==flag" class="btn btn-danger ml-3"
                  (click)="openDialogDelete(customer.id)">Delete
          </button>
          <button *ngIf="checkEdit && customer.id===flag" class="btn btn-warning ml-3" type="button"
                  (click)="resetCustomer()">Reset
          </button>
        </td>
      </tr>
      </tbody>

      <!--      add customer-->

      <tr *ngIf="checkAdd">
        <td></td>
        <td>
          <input type="text" class="form-control" formControlName="name">
          <p
            *ngIf="formAddNewCustomer.controls.name.errors?.required && formAddNewCustomer.controls.name.touched"
            class="text-danger">Vui lòng nhập tên !!!</p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="idCard">
          <p
          *ngIf="formAddNewCustomer.controls.idCard.errors?.required && formAddNewCustomer.controls.idCard.touched"
          class="text-danger">Vui lòng nhập CMND!!!</p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="email">
          <p
            *ngIf="formAddNewCustomer.controls.email.errors?.required && formAddNewCustomer.controls.email.touched"
            class="text-danger">Vui lòng nhập email!!!</p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="phone">
          <p
            *ngIf="formAddNewCustomer.controls.phone.errors?.required && formAddNewCustomer.controls.phone.touched"
            class="text-danger">Vui lòng nhập phone!!!</p>
        </td>
        <td>
          <label>
            <input class="form-control" formControlName="birthday" placeholder="Choose a date" matInput
                   [matDatepicker]="picker1">
          </label>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker>
          <p
            *ngIf="formAddNewCustomer.controls.birthday.errors?.required && formAddNewCustomer.controls.birthday.touched"
            class="text-danger">Vui lòng nhập birthday!!!</p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="address">
          <p
            *ngIf="formAddNewCustomer.controls.address.errors?.required && formAddNewCustomer.controls.address.touched"
            class="text-danger">Vui lòng nhập address!!!</p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="website">
          <p
            *ngIf="formAddNewCustomer.controls.website.errors?.required && formAddNewCustomer.controls.website.touched"
            class="text-danger">Vui lòng nhập website!!!</p>
        </td>
        <td>
          <input type="text" class="form-control" formControlName="nameCompany">
          <p
            *ngIf="formAddNewCustomer.controls.nameCompany.errors?.required && formAddNewCustomer.controls.nameCompany.touched"
            class="text-danger">Vui lòng nhập nameCompany!!!</p>
        </td>
        <td colspan="4">
          <button [disabled]="formAddNewCustomer.invalid" class="button btn btn-warning" (click)="addNewCustomer()" >ADD</button>
          <button class="button btn btn-warning ml-5" (click)="cancelAdd()">CANCEL</button>

        </td>
      </tr>
    </table>
    <button class="button btn btn-warning" (click)="checkAddCustomer()">Thêm mới</button>
  </form>

  <pagination-controls id="listing_pagination" (pageChange)="page = $event" previousLabel="previous"
                       nextLabel="next"></pagination-controls>
</div>
<div class="text-danger">
  {{message}}
</div>


