
<h4>DELETE CONFIRM</h4>
<hr>
<p class="my-3">Bạn có chắc chắc muốn xóa trang thiết bị có id <span
  class="text-primary font-weight-bold">{{equipmentOfId}}</span> và tên thiết bị <span
  class="text-primary font-weight-bold">{{equipmentOfName}}</span> không? <br> Lưu ý: Thao tác không thể hoàn tác!!!</p>
<div class="row d-flex justify-content-end">
  <button mat-dialog-close class="btn btn-warning mr-3" style="width: 80px;">Cancel</button>
  <button class="btn btn-danger mr-3" style="width: 80px;" (click)="deleteEquipment()">Delete</button>
</div>
