

<div class="col-md-5 mt-5">
  <div class="input-group">
    <input type="text" class="form-control search-input" placeholder="Tìm kiếm thông tin " [(ngModel)]="searchText">
    <button type="button" class="btn btn-secondary search-button"><i
      class="fa fa-search text-danger"></i></button>
  </div>

</div>

<h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH THÔNG TIN MẶT BẰNG</h3>
<form action="" >
  <table class="table bg-light text-center">
    <thead>
    <tr class="text-muted">
      <th>STT</th>
      <th>Mã mặt bằng</th>
      <th>Loại mặt bằng</th>
      <th>Diện tích</th>
      <th>Trạng thái</th>
      <th>Giá bán</th>
      <th>Phí quản lý</th>
      <th>Khách hàng</th>
      <th colspan="3">Tác vụ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i=index;let item of grounds|filter:searchText | paginate:{id:'listing_pagination',
                                                                            itemsPerPage:5,
                                                                            currentPage:page
                                                                            }">
      <td>{{(i+1)+(page-1)*5}}</td>
      <td>{{item.codeGround}}</td>
      <td>{{item.typeGround.nameTypeGround}}</td>
      <td>{{item.area}}</td>
      <td>{{item.statusGround}}</td>
      <td>{{item.price}}</td>
      <td>{{item.priceManager}}</td>
      <ng-container *ngFor="let contract of contracts">
        <td *ngIf="contract.ground.id==item.id">{{contract.customer.name}}</td>
      </ng-container>




      <td><button  class="btn btn-outline-danger" style="width: 80px" (click)="openDialogView(item.id)">Chi tiết</button></td>
      <td><button  class="btn btn-warning" (click)="openDialogEdit(item.id)">Sửa</button></td>
      <td><button  class="btn btn-danger" (click)="openDialogDelete(item.id)">
        Xóa
      </button></td>
    </tr>
    </tbody>

  </table>
  <button style="position: absolute;left: 88%;" class="btn btn-info px-4 py-2 " (click)="openDialogAddNew()">Thêm mới</button>
</form>


<pagination-controls class="pagination justify-content-center" id="listing_pagination" (pageChange)="page = $event" previousLabel="Trang trước"
                     nextLabel="Trang sau">
</pagination-controls>










