

<div class="col-md-5 mt-5">
  <div class="input-group">
    <input type="text" class="form-control search-input" placeholder="Tìm kiếm thông tin" [(ngModel)]="searchText">
    <button type="button" class="btn btn-secondary search-button"><i
      class="fa fa-search text-danger"></i></button>
  </div>

</div>

<h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH TÒA NHÀ</h3>
<form  >
  <table class="table bg-light text-center">
    <thead>
    <tr class="text-muted">
      <th>Số thứ tự</th>
      <th>Tên tòa nhà</th>
      <th>Mã số thuế</th>
      <th>Điện thoại</th>
      <th>Email</th>
      <th>Fax</th>
      <th>Địa chỉ</th>
      <th colspan="3">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i=index;let item of buildings|filter:searchText | paginate:{id:'listing_pagination',
                                                                            itemsPerPage:5,
                                                                            currentPage:page
                                                                            }">
      <td>{{(i+1)+(page-1)*5}}</td>
      <td>{{item.fullName}}</td>
      <td>{{item.taxCode}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.email}}</td>
      <td>{{item.fax}}</td>
      <td>{{item.address}}</td>
      <td><button  class="btn btn-outline-danger" style="width:80px" (click)="openDialogView(item.id)">Chi tiết</button></td>
      <td><button  class="btn btn-warning" (click)="openDialogEdit(item.id)">Sửa</button></td>
      <td><button  class="btn btn-danger" (click)="openDialogDelete(item.id)">
        Xóa
      </button></td>

    </tr>
    </tbody>
  </table>

  <button style="position: absolute;left: 88%;" class="btn btn-info px-4 py-2" (click)="openDialogAddNew()">Thêm mới</button>

</form>
<!--    pagination-->
<pagination-controls class="pagination justify-content-center" id="listing_pagination" (pageChange)="page = $event" previousLabel="Trang trước"
                     nextLabel="Trang sau">

</pagination-controls>






<!--<h1>Danh sách thông tin tòa nhà</h1>-->
<!--<div class="search-hero">-->
<!--  <input class="form-control mt-2" type="text" name="search" style="width: 50%" [(ngModel)]="searchText"-->
<!--         autocomplete="off" placeholder="Tìm kiếm thông tin tòa nhà theo tên,mã số thuế,địa chỉ">-->
<!--</div>-->
<!--<div>-->
<!--  <button type="button" class="btn btn-warning mr-3" (click)="openDialogAddNew()" >Thêm mới thông tin tòa nhà</button>-->
<!--  <table class="table table-striped table-inverse table-responsive">-->
<!--    <thead class="thead-inverse">-->
<!--    <tr>-->
<!--      <th>Số thứ tự</th>-->
<!--      <th>Tên tòa nhà</th>-->
<!--      <th>Mã số thuế</th>-->
<!--      <th>Điện thoại</th>-->
<!--      <th>Email</th>-->
<!--      <th>Fax</th>-->
<!--      <th>Địa chỉ</th>-->
<!--      <th colspan="3">Thao tác</th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let i=index;let item of buildings|filter:searchText | paginate:{id:'listing_pagination',-->
<!--                                                                            itemsPerPage:5,-->
<!--                                                                            currentPage:page-->
<!--                                                                            }">-->
<!--      <td>{{(i+1)+(page-1)*5}}</td>-->
<!--      <td>{{item.fullName}}</td>-->
<!--      <td>{{item.taxCode}}</td>-->
<!--      <td>{{item.phone}}</td>-->
<!--      <td>{{item.email}}</td>-->
<!--      <td>{{item.fax}}</td>-->
<!--      <td>{{item.address}}</td>-->
<!--      <td><button  class="btn btn-primary" (click)="openDialogView(item.id)">Chi tiết</button></td>-->
<!--      <td><button  class="btn btn-success" (click)="openDialogEdit(item.id)">Sửa</button></td>-->
<!--      <td><button  class="btn btn-danger" (click)="openDialogDelete(item.id)">-->
<!--        Xóa-->
<!--      </button></td>-->

<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <div>-->
<!--    <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"-->
<!--                          previousLabel="Trang trước" nextLabel="Trang sau"></pagination-controls>-->
<!--  </div>-->
<!--</div>-->





