
<div class="col-md-5 mt-5">
  <div class="input-group">
    <input type="text" class="form-control search-input" placeholder="Tìm kiếm thông tin" [(ngModel)]="searchText">
<!--    <form>-->
<!--      Tìm theo tên tòa nhà:-->
<!--      <input name="s" type="text"/>-->
<!--      <input type="submit" value="Search"/>-->
<!--    </form>-->
    <button type="button" class="btn btn-secondary search-button"><i
      class="fa fa-search text-danger"></i></button>
  </div>
</div>

<h3 class="text-muted text-center mb-3 mt-5">DANH SÁCH TÒA NHÀ</h3>
<div class="row">
  <div class="dropdown open col-md-2">
    <button  class="btn btn-success px-4 py-2" (click)="openDialogAddNew()">
      <i class="material-icons"data-toggle="tooltip" title="Thêm">playlist_add</i>
    </button>
  </div>
  <div class="col-md-8"></div>
  <div class="col-md-2">
    <button style="margin-top: 6%" class="btn btn-dark" (click)="deleteAll()">
      <i class="fa fa-trash" aria-hidden="true" title="Xóa tất cả"></i>
    </button>
  </div>
</div>
<form  >
  <table class="table bg-light text-center table-striped">
    <thead class="thead-dark">
    <tr  class="text-muted">
      <th><p>Tên tòa nhà(<span style="color: red">*</span>):</p></th>
      <th><p>Mã số thuế(<span style="color: red">*</span>):</p></th>
      <th><p>Điện thoại(<span style="color: red">*</span>):</p></th>
      <th><p>Email(<span style="color: red">*</span>):</p></th>
      <th><p>Fax(<span style="color: red">*</span>):</p></th>
      <th><p>Địa chỉ(<span style="color: red">*</span>):</p></th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i=index;let item of buildings|filter:searchText | paginate:{id:'listing_pagination',
                                                                            itemsPerPage:5,
                                                                            currentPage:page
                                                                            }">
<!--      <td>{{(i+1)+(page-1)*5}}</td>-->
      <td>{{item.fullName}}</td>
      <td>{{item.taxCode}}</td>
      <td>{{item.phone}}</td>
      <td>{{item.email}}</td>
      <td>{{item.fax}}</td>
      <td>{{item.address}}</td>
      <td><button  class="btn btn-info" (click)="openDialogView(item.id)"><i class="material-icons" data-toggle="tooltip" title="Xem">&#xe8a0;</i></button></td>
      <td><button  class="btn btn-warning" (click)="openDialogEdit(item.id)"><i class="material-icons" data-toggle="tooltip" title="Sửa">&#xE254;</i></button></td>
      <td><button  class="btn btn-danger" (click)="openDialogDelete(item.id)">
        <i class="material-icons" data-toggle="tooltip" title="Xóa">&#xE872;</i>
      </button></td>

    </tr>
    </tbody>
  </table>



</form>

<pagination-controls class="pagination justify-content-center" id="listing_pagination" (pageChange)="page = $event" previousLabel="Trang trước"
                     nextLabel="Trang sau">

</pagination-controls>











