
h2{
  margin-bottom: 50px;
  margin-top: 50px;
}
form {
  margin-left: 0px;
  width: 100%;
}
form fieldset{
  margin-top: 50px;
}

form fieldset label .col-md-12{
  margin-top: 30px;
}
form fieldset label .note{
  margin-top: 60px;
}
form fieldset label div p{
  float: left;
}
form fieldset label div .col-md-10{
  margin-left: auto;
  margin-top: 20px;
  text-align: center;
}
.mat-icon-button{
  margin-left: 300px;
}
legend{
  color: red;
}
form fieldset label div select option{
  text-align: center;
}

