<h2 class="text-center">Thêm mặt bằng</h2>

<form [formGroup]="addGroundForm" class="col-md-12 offset-md-4">
  <fieldset>
    <legend>Thêm mới thông tin mặt bằng</legend>
    <label class="row">
      <div class="col-md-6">
        <span class="col-md-4">Mã mặt bằng:</span>
        <div>
          <input type="text" class="form-control col-md-8" formControlName="codeGround">
        </div>
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="addGroundForm.get('codeGround').hasError('required')
         && addGroundForm.get('codeGround').touched">Tên viết tắt không được để trống.
        </div>
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="addGroundForm.get('codeGround').hasError('minlength')
         && addGroundForm.get('codeGround').touched">Tên viết tắt tối thiểu 2 ký tự.
        </div>
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="addGroundForm.get('codeGround').hasError('maxlength')
         && addGroundForm.get('codeGround').touched">Tên viết tắt tối đa 25 ký tự.
        </div>
      </div>

      <div class="col-md-6">
        <span class="col-md-3">Trạng thái:</span>
        <select class="form-control col-md-9" formControlName="statusGround">
          <option value="">Chọn</option>
          <option value="Chưa bàn giao">Chưa bàn giao</option>
          <option value="Đang vào ở">Đang vào ở</option>
          <option value="Đang sửa chữa">Đang sửa chữa</option>
        </select>
      </div>
    </label>
    <label class="row">
      <div class="col-md-6">
        <span class="col-md-4">Diện tích:</span>
        <div>
          <input type="number" class="form-control col-md-8" formControlName="area">
        </div>
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="addGroundForm.get('area').hasError('required')
         && addGroundForm.get('area').touched">Diện tích không được để trống và phải đúng định dạng.
        </div>
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="addGroundForm.get('area').hasError('maxlength')
         && addGroundForm.get('area').touched">Diện tích tối đa 25 ký tự.
          <div class="alert alert-danger col-md-10" role="alert" *ngIf="addGroundForm.get('area').hasError('pattern')
         && addGroundForm.get('area').touched">Diện tích phải đúng định dạng.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <span class="col-md-3">Tầng:</span>
        <select class="form-control col-md-9" formControlName="floorId">
          <option value="">Chọn</option>
          <option *ngFor="let floor of floors" [value]="floor.id">{{floor.nameFloor}}</option>
        </select>
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="addGroundForm.get('floorId').hasError('required')
         && addGroundForm.get('floorId').touched">Tên tầng không được để trống.
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-2">Loại mặt bằng:</span>
        <div>
          <select class="form-control col-md-10" formControlName="typeGroundId" style="margin-top: -5px">
            <option value="">Chọn</option>
            <option *ngFor="let typeGround of typeGrounds" [value]="typeGround.id">{{typeGround.nameTypeGround}}</option>
          </select>
        </div>
        <div class="alert alert-danger col-md-10" role="alert" *ngIf="addGroundForm.get('typeGroundId').hasError('required')
         && addGroundForm.get('typeGroundId').touched">Loại mặt bằng không được để trống.
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <p class="col-md-2">Chú thích:</p>
        <textarea rows="5" type="text" class="form-control col-md-10" formControlName="note"
                  style="margin-top: -60px"></textarea>
      </div>
    </label>
  </fieldset>

  <fieldset>
    <legend>Giá cho thuê/bán</legend>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-2">Giá tiền:</span>
        <div>
          <input type="number" class="form-control col-md-10" formControlName="price" style="margin-top: -5px">
        </div>
      </div>
    </label>
    <label class="row">
      <div class="col-md-12">
        <span class="col-md-2">Phí quản lý:</span>
        <div>
          <input type="number" class="form-control col-md-10" formControlName="priceManager" style="margin-top: -5px">
        </div>
      </div>
    </label>

  </fieldset>
</form>

<label class="row " style="margin-left: 30%">

  <div class="form-group d-flex justify-content-center mr-5">
    <button class="btn btn-info mt-3" (click)="clearFilters()">Làm lại</button>
  </div>
  <div class="form-group d-flex justify-content-center mr-5 ">
    <button  class="btn btn-success mt-3" [disabled]="addGroundForm.invalid" (click)="onAddGround()">Thêm mới
    </button>

  </div>
  <div class="form-group d-flex justify-content-center " style="align-content: center">
    <button class="btn btn-outline-dark mt-3" mat-dialog-close>Quay về danh sách mặt bằng
    </button>
  </div>
</label>









